<RunSettings>
  <RunConfiguration>
      <EnvironmentVariables>
          <!-- List of environment variables we want to set-->
          <ASPNETCORE_ENVIRONMENT>Development</ASPNETCORE_ENVIRONMENT>
          <SEETRUE_SIGNING_KEY>Uvz9WCdELTkqaZLVYgLHdzURl6YBe38t</SEETRUE_SIGNING_KEY>
          <SEETRUE_TOKEN_LIFETIME>3600</SEETRUE_TOKEN_LIFETIME>
          <SEETRUE_ISSUER>http://localhost:5000</SEETRUE_ISSUER>
          <SEETRUE_AUIDIENCES>http://localhost:5000</SEETRUE_AUIDIENCES>
          <SEETRUE_REFRESH_TOKEN_LIFETIME>336</SEETRUE_REFRESH_TOKEN_LIFETIME>
          <SEETRUE_SMTP_HOST>localhost</SEETRUE_SMTP_HOST>
          <SEETRUE_SMTP_PORT>1025</SEETRUE_SMTP_PORT>
          <SEETRUE_SMTP_USER>service@mailhog.example</SEETRUE_SMTP_USER>
          <SEETRUE_SMTP_PASS>12345678</SEETRUE_SMTP_PASS>
          <SEETRUE_VERIFICATION_TOKEN_LIFETIME>24</SEETRUE_VERIFICATION_TOKEN_LIFETIME>
          <SEETRUE_RECOVERY_MAX_FREQUENCY>5</SEETRUE_RECOVERY_MAX_FREQUENCY>
          <SEETRUE_VALIDATE_ISSUER>true</SEETRUE_VALIDATE_ISSUER>
          <SEETRUE_VALIDATE_AUDIENCE>true</SEETRUE_VALIDATE_AUDIENCE>
          <SEETRUE_SIGNUP_DISABLED>false</SEETRUE_SIGNUP_DISABLED>
          <SEETRUE_API_KEY>SuperSecureApiKey</SEETRUE_API_KEY>
          <SEETRUE_ADMIN_ROLE>admin</SEETRUE_ADMIN_ROLE>
      </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>